<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>Delete</title>
	</head> 
	<body>
		<div class="card text-center">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link" aria-current="true" href="home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add_quotes">Add Quotes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#" >Delete Quotes</a>
					</li>
				</ul>
			</div>
		</div>
		
		<section class="section">
			<div class="row ms-3 mt-3">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="text-center">
						<h1 class="text-center mb-3 text-primary">Quotes List</h1>
					</div>
					<form action="" method="POST">
						{% csrf_token %}
						{% for i in documents %}
							<ul class="list-group group" type="none">
								
								<li>
									<a class="list-group-item text-center" href="{% url 'delete_quotes' %}?docid={{i.id}}"> {{ i.quotes }} (id={{i.id}}) <br> <cite title="Source Title">{{i.author}}</cite></a>
								</li>
								
								
							</ul>
							
							<div class="text-center">
								<a href="{% url 'delete_quotes' i.docid %}" class="btn btn-danger mb-3" type="submit">Delete</a>
							</div>
						</form>
					{% endfor %}
				</div>
				<div class="col-1"></div>
				<!--
				<div class="col-2 ms-3">
						<form action="" method="POST">
								{% csrf_token %}
								{% if docid%}
										<div class="card">
												<div class="card-header text-center">
														Quote
												</div>
												<div class="card-body">
														<blockquote class="blockquote mb-0 text-center">
																<p>{{document.quotes}}</p>
														<footer class="blockquote-footer"> <cite title="Source Title">{{document.author}}</cite></footer>
												</blockquote>
										</div>
								</div>
								<div class="text-center">
										<button class="btn btn-danger mt-1" type="submit">Delete</button>
								</div>
						{% endif %}
				</form>
			</div>
			-->
		</div>
	</section>
	<div class="text-center my-5">&copy:tech villain</div>
</body>
</html>